/* TODO
 * - px, not ems
 * - consistent paper class with texture, inline-block centering, and drop shadow
 */

body {
    background-image: url(../images/bg.png);
    background-position: center 64px;
    background-attachment: fixed;
    background-repeat: both;
    font-size: 20px;
}

div.content {
    width: 40em;
    margin: auto;
    padding 0;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
}

.paper {
    background-color: #fafad0;
    background-image: url(/images/light-paper-fibers.png);
    border: 1.5px solid #e8e8ac;
    box-shadow: 0 0 12px rgba(128, 255, 255, 0.3);
}

h1 {
    display: inline-block;
    font-size: 3.5em;
    font-weight: normal;
    font-style: normal;
    color: #072427;
    text-align: center;
    margin-top: 1em;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
}

p {
    font-size: 1em;
    font-weight: normal;
    line-height: 1.1em;
    margin-bottom: 0.9em;
}



div#logo {
    width: 21em;
    height: 21em;
    display: block;
    margin: 1em auto 0 auto;
    padding: 1em;

    border-radius: 11.5em;
}

div#logo img {
    width: 100%;
    height: 100%;
}
